.footer {
    background: #F9F9FB;
}

.footer .footer-col__container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 78px;    
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 77px;
}

.footer h3 {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 60px;
    color: #000000;
}

.footer p {
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    color: #848484;
}

.footer .column {
     display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer .logo {
    margin-bottom: 26px;
}

.footer .logo img {
}


.footer h4 {
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 28px;
    color: #848484;
}

.footer h5{
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #848484;
}

.footer .footer-soc_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 32px;
}
.footer .footer-soc_container img {
   margin-right: 35px;
}

@media (max-width: 850px){
    .footer-col__container{
        flex-wrap: wrap-reverse;
    }
}
