.learn-more {
    background-image: url(../../img/learn-more-background.png), url(../../img/learn-more-background_el1.png), url(../../img/learn-more-background_el2.png);
    background-position: left bottom, top left 685px, right 134px bottom 152px;
    background-repeat: no-repeat;
    display: flex;
    align-items:center;
    margin-bottom: 292px;
}

.learn-more_container{
    width: 481px;
    margin-left: auto;
    margin-right: 0px;
    margin-bottom: 111px;
    margin-top: 112px;
}

.learn-more h2 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 20px;
}

.learn-more p {
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;
    margin-bottom: 40px;
}

.learn-more .button {
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    background: #FB8F1D;
    color: white;
    width: 164px;
    padding: 16px 0;
    box-sizing: border-box;
}

@media (max-width: 750px){
    .learn-more{
        margin-bottom: 30px;
        text-align: center;
    }
    .learn-more_container{
        margin: 40px auto 0px;
        width: auto;
    }
    .learn-more .button{
        width: auto;
        margin: 0px;
    }
}

@media (max-width: 546px){
    
}